script(type='text/javascript', src='/static/lib/moment/min/moment.min.js')
script(type='text/javascript', src='/static/lib/moment/locale/zh-cn.js')
script(type='text/javascript', src='/static/lib/lodash/lodash.min.js')
script(type='text/javascript', src='/static/lib/jquery/dist/jquery.min.js')
script(type='text/javascript', src='/static/lib/bootstrap/dist/js/bootstrap.min.js')
script(type='text/javascript', src='/static/lib/bootstrap-material-design/dist/js/material.min.js')
script(type='text/javascript', src='/static/lib/bootstrap-material-design/dist/js/ripples.min.js')
script(type='text/javascript', src='/static/lib/blockui/jquery.blockUI.js')
script(type='text/javascript', src='/static/lib/flot/jquery.flot.js')
script(type='text/javascript', src='/static/lib/flot/jquery.flot.time.js')
script(type='text/javascript', src='/static/lib/flot/jquery.flot.threshold.js')
script(type='text/javascript').
	moment.locale('zh-cn');
	$.material.init();
script(type='text/javascript', src='/static/javascripts/utils/service.js')
script(type='text/javascript', src='/static/javascripts/utils/busyIndicator.js')
script(type='text/javascript', src='/static/javascripts/utils/ui.js')