head
	title #{title}
	link(rel='stylesheet', href='/static/lib/bootstrap/dist/css/bootstrap.min.css')
	link(rel='stylesheet', href='/static/lib/bootstrap-material-design/dist/css/roboto.min.css')
	link(rel='stylesheet', href='/static/lib/bootstrap-material-design/dist/css/material-fullpalette.min.css')
	link(rel='stylesheet', href='/static/lib/bootstrap-material-design/dist/css/ripples.min.css')
	link(rel='stylesheet', href='/static/stylesheets/style.css')