body{
	clear: both;
}

.nav-tabs{
	margin-top: 5px;
	padding: 0 5px;
	background-color: transparent;
}
.nav-tabs>li>a, .nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
	color: #aaaaaa!important;
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover {
	color: #555 !important;
	background-color: #f6f6f6 !important;
	border: 1px solid #ddd !important;
	border-bottom: 0 !important;
}
.m-h-500{
	max-height: 500px;
}
.form-control.inline-control {
	display: inline-block;
  	width: auto;
}

.flot-placeholder{
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;

}
.flot-container {
	box-sizing: border-box;
	width: 100%;
	height: 250px;
	padding: 10px;
	margin: 0;
	border: 1px solid #ddd;
	border-top: 0;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.signinForm, .signupForm{
	width: 75%;
	margin: auto;
}

.userListPanel .panel-heading,
.deviceListPanel .panel-heading{
	display: flex;
}
.userListPanel .panel-title,
.deviceListPanel .panel-title{
	margin-top: 3px;
}
.padding-0{
	padding: 0 !important;
}
.userListPanel .panel-body,
.deviceListPanel .panel-body{
	padding: 0;
}
.userList,
.deviceList{
	margin-bottom: 0;
}

.userListPanel .addUserBtn.btn.btn-fab,
.deviceListPanel .addDeviceBtn.btn.btn-fab {
	margin: 0;
	padding: 4px;
	font-size: 16px;
	width: 24px;
	height: 24px;
	margin-left: auto;
}

.userList .removeUserBtn,
.deviceList .removeUserBtn{
	margin-left: 5px;
}

.table.dataList{
	margin-bottom: 0;
}

th.action{
	width: 12%;
}

.apiPanel td.column{
	width: 12%;
	text-align: right;
}