body{
	clear: both;
}

.signinForm, .signupForm{
	width: 75%;
	margin: auto;
}

.userListPanel .panel-heading,
.deviceListPanel .panel-heading{
	display: flex;
}
.userListPanel .panel-title,
.deviceListPanel .panel-title{
	margin-top: 3px;
}
.padding-0{
	padding: 0 !important;
}
.userListPanel .panel-body,
.deviceListPanel .panel-body{
	padding: 0;
}
.userList,
.deviceList{
	margin-bottom: 0;
}

.userListPanel .addUserBtn.btn.btn-fab,
.deviceListPanel .addDeviceBtn.btn.btn-fab {
	margin: 0;
	padding: 4px;
	font-size: 16px;
	width: 24px;
	height: 24px;
	margin-left: auto;
}

.userList .removeUserBtn,
.deviceList .removeUserBtn{
	margin-left: 5px;
}

th.action{
	width: 12%;
}

.apiPanel td.column{
	width: 12%;
	text-align: right;
}