extends ../layout.jade

block content
	form.form-horizontal.signinForm
		fieldset
			legend.text-center 用户登录
			div.form-group
				label.col-lg-2.control-label(for='inputUsername') 用户名
				div.col-lg-10
					input.form-control#inputUsername(type='text', placeholder='请填写用户名')
			div.form-group
				label.col-lg-2.control-label(for='inputPassword') 密码
				div.col-lg-10
					input.form-control#inputPassword(type='password', placeholder='请填写密码')
			div.text-center
				button.btn.btn-primary#signinBtn(type='button') 登录
block extraScripts
	script(type='text/javascript', src='/static/javascripts/users/signin.js')