extends ../layout

block content
	div.panel.panel-default.dataPanel
		div.panel-heading
			h3.panel-title 设备DV0001 在 2015-05-12 的指标记录
		div.panel-body.table-responsive.padding-0
			table.table.table-hover.table-striped.table-bordered.dataList
				thead
					tr
						th 指标1
						th 数据2
						th 指标3
						th 指标4
						th 指标5
						th 时间
				tbody
block extraScripts
	script(type='text/javascript', src='/static/javascripts/data/detail.js')
