extends ../layout

mixin dateOption(day, isSelect)
	- var date = moment().subtract(day, 'day');
	if isSelect
		option(value=date.format('YYYYMMDD'), selected='selected')= date.format('YYYY-MM-DD')
	else 
		option(value=date.format('YYYYMMDD'))= date.format('YYYY-MM-DD')

block content
	div.panel.panel-default.dataPanel
		div.panel-heading
			h3.panel-title 
				select.form-control.inline-control.deviceSelect
					each device in deviceList
						option(value=device.deviceId)= device.name + '('+ device.deviceId +')' 
				span 在 
				select.form-control.inline-control.dateSelect
					option(value=moment().format('YYYYMMDD')) 今天
					- var i = 1
					while i <= 7
						+dateOption(i++, (i===2))
				sapn 的指标采集记录(数值小于2的将标记为红色警示)
		div.panel-body.padding-0
			ul.nav.nav-tabs.dataTab
				li.active(role='presentation')
					a(href='javascript:void(0)' dataType='1' role='tab' data-toggle='tab') 指标1
				li(role='presentation')
					a(href='javascript:void(0)' dataType='2' role='tab' data-toggle='tab') 指标2
				li(role='presentation')
					a(href='javascript:void(0)' dataType='3' role='tab' data-toggle='tab') 指标3
				li(role='presentation')
					a(href='javascript:void(0)' dataType='4' role='tab' data-toggle='tab') 指标4
				li(role='presentation')
					a(href='javascript:void(0)' dataType='5' role='tab' data-toggle='tab') 指标5
			div.flot-container
				div.flot-placeholder#dataFlotPlacehoder
			div.table-responsive.m-h-500.only-th
				table.table.table-hover.table-striped.table-bordered
					thead
						tr
							th 指标1
							th 指标2
							th 指标3
							th 指标4
							th 指标5
							th.date.text-center 时间
					tbody
			div.table-responsive.m-h-500.only-tbody
				table.table.table-hover.table-striped.table-bordered.dataList
					tbody
block extraScripts
	script(type='text/javascript', src='/static/javascripts/data/detail.js')
