extends ../layout

block content
	div.panel.panel-default.apiPanel#dataApiPanel
		div.panel-heading 设备数据采集API
		div.panel-body
			div 
				span 模拟采集
				select.form-control.inline-control.deviceSelect
					each device in deviceList
						option(value=device.deviceId)= device.name + '('+ device.deviceId +')'
				span 前7天的数据
			div 
				a.simulate7daysBtn.btn.btn-primary(href='javascript:void(0)') 确定
				span.simulate7daysMsg
			//- hr
			//- div 
			//- 	span 模拟采集
			//- 	select.form-control.inline-control.deviceSelect2
			//- 		each device in deviceList
			//- 			option(value=device.deviceId)= device.name + '('+ device.deviceId +')'
			//- 	span 的当前数据
			//- div
			//- 	span 指标1:
			//- 	span 
			//- 		input.form-control.inline-control.text-center#data1Input(type='text', placeholder='请填写1－10的数字')
			//- div
			//- 	span 指标2:
			//- 	span 
			//- 		input.form-control.inline-control.text-center#data2Input(type='text', placeholder='请填写1－10的数字')
			//- div
			//- 	span 指标3:
			//- 	span 
			//- 		input.form-control.inline-control.text-center#data3Input(type='text', placeholder='请填写1－10的数字')
			//- div
			//- 	span 指标4:
			//- 	span 
			//- 		input.form-control.inline-control.text-center#data4Input(type='text', placeholder='请填写1－10的数字')
			//- div
			//- 	span 指标5:
			//- 	span 
			//- 		input.form-control.inline-control.text-center#data5Input(type='text', placeholder='请填写1－10的数字')
			//- div 
			//- 	a.simulateTodayBtn.btn.btn-primary(href='javascript:void(0)') 确定
			//- 	span.postDataMsg

	div.panel.panel-default.apiPanel#qualifiedDataApiPanel
		div.panel-heading 消毒合格数据采集API
		div.panel-body
			div 
				span 模拟采集
				select.form-control.inline-control.deviceSelect
					each device in deviceList
						option(value=device.deviceId)= device.name + '('+ device.deviceId +')'
				span 前7天的数据
			div 
				a.simulate7daysBtn.btn.btn-primary(href='javascript:void(0)') 确定
block extraScripts
	script(type='text/javascript', src='/static/javascripts/data/index.js')
